attr==0.3.2
colorama==0.4.6
ConfigParser==7.1.0
cryptography==42.0.2
docutils==0.18.1
docutils==0.18.1
filelock==3.16.1
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==7.6.5
jnius==1.1.0
keyring==23.13.1
pandas==2.2.3
Pillow==11.0.0
protobuf==3.20.3
pydantic==1.10.12
pyOpenSSL==24.0.0
pyOpenSSL==24.2.1
pytz==2024.2
pywencai==0.12.2
PyYAML==6.0.1
PyYAML==6.0.2
redis==5.2.0
schedule==1.2.2
Sphinx==5.0.2
thread==2.0.5
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
