certifi==2024.8.30
charset-normalizer==3.4.0
et-xmlfile==1.1.0
fake-useragent==1.5.1
idna==3.10
numpy==2.1.2
openpyxl==3.1.5
pandas==2.2.3
pip-chill==1.0.3
pydash==7.0.7
PyExecJS==1.5.1
python-dateutil==2.9.0.post0
pytz==2024.2
pywencai==0.12.2
requests==2.32.3
schedule==1.2.2
six==1.16.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
